h1 {
    width:auto;
    height:400px;
    background-color: rgb(145, 2, 2);
    text-align:center;

}
.titlez {
    font-family: fantasy;
    font-size: xx-large;
}
body {
    background-color: maroon;
}
.abouts {
    font-size: xx-large;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 10px 3px;
    border-color:black;
    border-style:double;
    border-width:medium;
    color: beige;
}
summary:hover {
    font-co: grey;

}
a:link {
    text:white;
    text-decoration: underline;
}
a:visited {
    color: lightgrey;
    text-decoration: underline;
}
a:active {
    color: white;
    text-decoration: underline;
}