body {
    background-image: url("bg.jpg");
    background-repeat:repeat-x
}
button::first-letter {
    color: black;
    font-style:bold;
    font-size: 40px;
}
#bar {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 0px;
    position: fixed;
    bottom: 0;
    left:0;
    align-content: space-evenly;
    width: 100%;
    max-width: 100vw;
  }
  
  #bar > div {
    background-color: gray;
    color:#000;
    font-size: 30px;
    text-align: center;
  }
  #scroller {
    word-wrap: break-word;
  }
  
  #bar button {
    width: 100%;
    height: 100%;
    background: transparent; /* Keeps button's background consistent */
    border: none;
    font-size: inherit; /* Inherits font size from parent */
    cursor: pointer;
  }
  #lessprof {
    color: rgb(255, 255, 255);
    position: absolute;
    word-wrap: break-word;
    top: 400px;
    left: calc(100vw - 430px); /* Keeps it at the right edge of the screen */
    height: 440px;
    width: 430px;
    background-color: rgb(0, 122, 122);
    border-radius: 15px;
    display: block;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}
#person {
  position:absolute;
  bottom:0px;
  left:0px;
}
#greeting {
  color: rgb(10, 55, 66);
  display: block;
  font-size:50px;
  margin: 0 auto; /* Centers horizontally */
  width: fit-content;
  border-radius: 10px;
}
#contacts {
  position: absolute;
  color:rgb(255, 255, 255);
  left: calc(135vw - 300px);
  width: 300px;
  display: inline-block;
  overflow-x: visible;
  position: relative;
  background-color: rgb(0, 122, 122);
  padding: 20px 20px 40px 10px;
  border-radius:20px;
  text-align: left;
}
#Resumelink {
  color:rgb(255, 255, 255);
  background-color: rgb(0, 122, 122);
  width: 100px;
  height: 25px;
  padding:10px;
  position: absolute;
  left:calc(179vw - 100px);
  top:220px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;

}
#acatitle {
  color:rgb(255, 255, 255);
  background-color: rgb(0, 122, 122);
  width: 300px;
  height: 50px;
  padding:10px;
  border-radius: 10px;
  text-align: center;
  font-size: 35px;
  position: absolute;
  left:calc(218vw - 300px);
  top:190px;
}
#schoolz * {
  color:rgb(255, 255, 255);
  background-color: rgb(0, 122, 122);
  width: 300px;
  height: 50px;
  padding:10px;
  border-radius: 10px;
  text-align: center;
  font-size: 35px;
  position: absolute;
  left:calc(218vw - 300px);
  
}